<!DOCTYPE html>
<html>
<head>
<title> Luxury Car Sales</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link href="/static/stylesheet.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="layout">
  <div id="titlebg">
    <div class="title">CAR</div>
    <div class="title1">LUXURY</div>
    <div class="title2">WE HAVE</div>
    <div class="title3">THE BEST CARS</div>
  </div>
  <hr id="hrline" />
  <div id="gradientbg">
    <div id="links">
      	<div class="hyperlink"><a href="{{ url_for('index') }}" class="hyperlink">Logout</a> </div>
 <hr id="hrline" />
      	<div class="hyperlink"><a href="{{ url_for('gtr') }}" class="hyperlink">NISSAN</a> </div>
      	<div class="hyperlink"><a href="{{ url_for('p1') }}" class="hyperlink">MCLAREN</a> </div>
      	<div class="hyperlink"><a href="{{ url_for('ferrari') }}" class="hyperlink">FERRARI</a> </div>
      	<div class="hyperlink"><a href="{{ url_for('lambo') }}" class="hyperlink">LAMBORGHINI</a> </div>
		<div class="hyperlink"><a href="{{ url_for('p918') }}" class="hyperlink">PORSCHE</a> </div>
    </div>
	
 <div id="images" >
 <img src="/static/images/img/arrow.jpg" width="600" height="500"/>
 
 <img src="/static/images/bug2.jpg" width="600" height="500"/>
	
	  <div id="header"></div>
    <div id="line"></div>
    <div id="ourservices">
      <div class="our">VEHICLE DESCRIPTION</div>

      <div class="txt">Full Service History, Delivery Available, Dealer/Manufacturer Warranty

This Grand Sport is one of only 58 ever produced and the only to be finished in Bianco Lamborghini over a Cognac full leather interior. It was originally a Bugatti factory demonstrator car, touring major events in the United States, and is one of only 11 examples made to U.S. specification. The car has just 4,900 miles from new, has been recently serviced and fitted with new tyres, and its factory warranty has been extended until the end of August 2017. It comes complete with its original handbook, spare key, speed key, soft-top and stand, car cover, car charger and a very thorough history file, including all service inspection reports by Bugatti-authorised dealers. *Please note that this car is located in America and titled in that country.*</div>
    </div>
    <div id="line1"></div>
    <div id="aboutus">
      <div class="abt">PRICE</div>
      <div id="pic2"></div>
      <div class="vs2">GBP</div>
      <div class="txt1">1,050,000</div>
    </div>
  </div>
  <hr id="hrline1" />
  <div class="footer">@Copyright Luxury Car Sales by Fahad Latif 10008039.</div>
</div>
</body>
</html>
