<!DOCTYPE html>
<html>
<head>
<title> Luxury Car Sales</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link href="/static/stylesheet.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="layout">
  <div id="titlebg">
    <div class="title">CAR</div>
    <div class="title1">LUXURY</div>
    <div class="title2">WE HAVE</div>
    <div class="title3">THE BEST CARS</div>
  </div>
  <hr id="hrline" />
  <div id="gradientbg">
    <div id="links">
      	<div class="hyperlink"><a href="{{ url_for('index') }}" class="hyperlink">HOMEPAGE</a> </div>
      	<div class="hyperlink"><a href="{{ url_for('gtr') }}" class="hyperlink">NISSAN</a> </div>
      	<div class="hyperlink"><a href="{{ url_for('p1') }}" class="hyperlink">MCLAREN</a> </div>
      	<div class="hyperlink"><a href="{{ url_for('lambo') }}" class="hyperlink">LAMBORGHINI</a> </div>
		<div class="hyperlink"><a href="{{ url_for('buggati') }}" class="hyperlink">BUGGATI</a> </div>
		<div class="hyperlink"><a href="{{ url_for('p918') }}" class="hyperlink">PORSCHE</a> </div>
    </div>
	
<div id="images" >
 <img src="/static/images/fer1.jpg" width="600" height="500"/>
 <img src="/static/images/fer2.jpg" width="600" height="500"/>
	
	  <div id="header"></div>
    <div id="line"></div>
    <div id="ourservices">
      <div class="our">VEHICLE DESCRIPTION</div>

      <div class="txt">Red, 2 seats, Stunning Laferrari. Finished In Rosso Corsa With Red Leather Sports Seats. Fantastic Spec Inc: Sat/Nav. Telemetry System, Ceramic Brakes, Sports Exhaust, Red Leather Sports Seats With Embroidered Prancing Horse On Head Rests, Carbon Fibre Interior Trim, Alcantara Suede On Consoles, Carbon Fibre Front Bumper, Rear Bumper, Wing Mirrors and Vents. THIS VEHICLE IS STRICTLY BY APPOINTMENT ONLY!!!</div>
    </div>
    <div id="line1"></div>
    <div id="aboutus">
      <div class="abt">PRICE</div>
      <div id="pic2"></div>
      <div class="vs2">GBP</div>
      <div class="txt1">2,999,995</div>
    </div>
  </div>
  <hr id="hrline1" />
  <div class="footer">@Copyright Luxury Car Sales by Fahad Latif 10008039.</div>
</div>
</body>
</html>

