<!DOCTYPE html>
<html>
<head>
<title> Luxury Car Sales</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link href="static/stylesheet.css" rel="stylesheet" type="text/css" />
</head>
<body>	

	<html><body>
	<form name="login_form" action="" method="post">

	<input type="email" placeholder="Email" name="email">
	<input type="password" placeholder="Password" name="password">
	<button type="submit" class="btn" name ="button" value="login">
		Sign In
	</button>

		</form>
		</body><html>

									
<div id="layout">
  <div id="titlebg">
    <div class="title">CAR</div>
    <div class="title1">LUXURY</div>
    <div class="title2">WE HAVE</div>
    <div class="title3">THE BEST CARS</div>
  </div>
  <hr id="hrline" />
  <div id="gradientbg">
    <div id="links">
      	<div class="hyperlink"><a href="{{ url_for('gtr') }}" class="hyperlink">NISSAN</a> </div>
      	<div class="hyperlink"><a href="{{ url_for('p1') }}" class="hyperlink">MCLAREN</a> </div>
      	<div class="hyperlink"><a href="{{ url_for('ferrari') }}" class="hyperlink">FERRARI</a> </div>
      	<div class="hyperlink"><a href="{{ url_for('lambo') }}" class="hyperlink">LAMBORGHINI</a> </div>
		<div class="hyperlink"><a href="{{ url_for('buggati') }}" class="hyperlink">BUGGATI</a> </div>
		<div class="hyperlink"><a href="{{ url_for('p918') }}" class="hyperlink">PORSCHE</a> </div>
    </div>
	
	  <div id="header"></div>
    <div id="line"></div>
    <div id="ourservices">
      <div class="our">OUR SERVICES</div>
      <div id="pic1"></div>
      <div class="vs1">Vehicle Sourcing</div>
      <div class="txt">We can find the vehicle that youre looking for, however rare or limited it may be.</div>
    </div>
    <div id="line1"></div>
    <div id="aboutus">
      <div class="abt">ABOUT US</div>
      <div id="pic2"></div>
      <div class="vs2">How did it all begin</div>
      <div class="txt1">company was established in year 2000 when used cheap cars were being traded on by us and now we have expanded to what we love best, Exotic Cars</div>
    </div>
  </div>
  <hr id="hrline1" />
  <div class="footer">@Copyright Luxury Car Sales by Fahad Latif 10008039.</div>
</div>
</body>
</html>

	
