
<!DOCTYPE html PUBLIC >
<html>
<head>
<title> Luxury Car Sales</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link href="/static/stylesheet.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="layout">
<div id="titlebg">
<div class="title">Luxury</div>
<div class="title1">Car Sales</div>
<div class="title2">WE HAVE</div>
<div class="title3">THE BEST</div>
</div>
<hr id="hrline" />
<div id="gradientbg">
<div id="links">
<div class="hyperlink"> <a href="templates/gtr.html" class="hyperlink">HOME</a> </div>
<div class="hyperlink"><a href="templates/p1.html" class="hyperlink">ABOUT US</a> </div>
<div class="hyperlink"><a href="templates/ferrari.html" class="hyperlink">SERVICES</a></div>
<div class="hyperlink"><a href="templates/lambo.html" class="hyperlink">FOR SALE</a></div>
<div class="hyperlink"><a href="templates/veyron.html" class="hyperlink">CONTACTS</a></div>
<div class="hyperlink"><a href="templates/p918.html" class="hyperlink">CONTACTS</a></div>
</div>

 <div id="images" >
 <img src="/static/images/av1.jpg"/>
 <img src="/static/images/av2.jpg"/>
  
<div id="header"></div>
<div id="line"></div>
<div id="ourservices">
<div class="our">OUR SERVICES</div>
<div id="pic1"></div>
<div class="vs1">Vehicle Sourcing</div>
<div class="txt">We can find the vehicle that youre looking for, however rare or limited it may be.</div>
</div>
<div id="line1"></div>
<div id="aboutus">
<div class="abt">ABOUT US</div>
<div id="pic2"></div>
<div class="vs2">How did it all begin</div>
<div class="txt1">company was established in year 2000 when used cheap cars were being traded on by us and now we have expanded to what we love best, Exotic Cars</div>
</div>
</div>
<hr id="hrline1" />

<div class="foottxt">Copyright Luxury Car Sales by Fahad Latif 10008039.</div>
</div>
</body>
</html>
