<!DOCTYPE html>
<html>
<head>
<title> Luxury Car Sales</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link href="/static/stylesheet.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="layout">
  <div id="titlebg">
    <div class="title">CAR</div>
    <div class="title1">LUXURY</div>
    <div class="title2">WE HAVE</div>
    <div class="title3">THE BEST CARS</div>
  </div>
  <hr id="hrline" />
  <div id="gradientbg">
    <div id="links">
	    <div class="hyperlink"><a href="{{ url_for('index') }}" class="hyperlink">Logout</a> </div>
 <hr id="hrline" /> 
		<div class="hyperlink"><a href="{{ url_for('gtr') }}" class="hyperlink">NISSAN</a> </div>
      	<div class="hyperlink"><a href="{{ url_for('p1') }}" class="hyperlink">MCLAREN</a> </div>
      	<div class="hyperlink"><a href="{{ url_for('ferrari') }}" class="hyperlink">FERRARI</a> </div>
      	<div class="hyperlink"><a href="{{ url_for('lambo') }}" class="hyperlink">LAMBORGHINI</a> </div>
		<div class="hyperlink"><a href="{{ url_for('buggati') }}" class="hyperlink">BUGGATI</a> </div>
    </div>
	
 <div id="images" >
 <img src="/static/images/p1.jpg" width="600" height="500"/>
 <img src="/static/images/p2.jpg" width="600" height="500"/>
	
	  <div id="header"></div>
    <div id="line"></div>
    <div id="ourservices">
      <div class="our">VEHICLE DESCRIPTION</div>

      <div class="txt">Model Year 2015
Stealth Pack
Carbon fiber Racing Seats
Steering Wheel-Carbon Black Alcantara
carbon-silica brakes
Visual Carbon Fibre Front Splitter Diffuser & Side Skirts
Visual Carbon Fibre Side Panels
Visual Carbon Fibre Side LTR Exit Ducts
Visual Carbon Fibre Rear Wing
Visual Carbon Fibre Rear Bumper
Facia & Doors-Carbon Black Leather
Carbon Fibre Door Mirrors
Visual Carbon Fibre Front Bumper
Visual Carbon Fibre Snorkel
Visual Carbon Fibre Rear Clam Inserts
Seat Outers-Carbon Black Leather
Seat Inners-Carbon Black Alcantara
Exterior Elite Paint-Volcano Yellow
Leather/ Alcantara interior
Contrast Coloured Stitching-Cadmium Yellow
Super lightweight front 19inch rear 20inch Stealth finish wheels 10 spoke design with Pirelli P ZERO
Yellow Brake Calipers With Black Logo
Tyre Pressure Monitoring System (TPMS)
Mclaren P1 Car Cover
Meridian Surround Sound System
Fire Extinguisher
Warning Triangle & First Aid Kit
Front and rear parking sensors
Push Button Start
Satellite navigation system
Alarm
Anti-Theft System
Central Locking
Electric Windows
Bluetooth
Air Bag
Branded Floor Mat Set
Exhaust Heat Shields
Roof Scoop</div>
    </div>
    <div id="line1"></div>
    <div id="aboutus">
      <div class="abt">PRICE</div>
      <div id="pic2"></div>
      <div class="vs2">GBP</div>
      <div class="txt1">2,050,000</div>
    </div>
  </div>
  <hr id="hrline1" />
  <div class="footer">@Copyright Luxury Car Sales by Fahad Latif 10008039.</div>
</div>
</body>
</html>

